@model NoxEventEazeAppp.Models.Booking

@{
    ViewBag.Title = "Create Booking"; // More descriptive title
}

<h2>Create Booking</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        {{-- REMOVE THE VENUEID DROPDOWN - Bookings don't have a direct VenueID --}}
        {{-- If you still need a venue selection, it must be part of the Event selection or a separate search --}}
        {{-- For this app's logic, EventID is sufficient as Event links to Venue --}}

        <div class="form-group">
            @Html.LabelFor(model => model.EventID, "Event", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                {{-- This DropDownList should be populated by ViewBag.EventID from BookingController.Create() --}}
                @Html.DropDownList("EventID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EventID, "", new { @class = "text-danger" })
            </div>
        </div>

        {{-- ADD NumberOfTickets input --}}
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfTickets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfTickets, new { htmlAttributes = new { @class = "form-control", type = "number", min = "1" } })
                @Html.ValidationMessageFor(model => model.NumberOfTickets, "", new { @class = "text-danger" })
            </div>
        </div>

        {{-- Add UserID input (or handle automatically in controller) --}}
        {{-- If you're using ASP.NET Identity, this should be hidden or set in the controller --}}
        {{-- For now, adding a simple text box. You might want to make this hidden later. --}}
        <div class="form-group">
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        {{-- BookingDate will typically be set in the controller (GETDATE()) or hidden --}}
        {{-- If you want users to pick a booking date, use a date input. Otherwise, remove it. --}}
        {{-- Assuming it's set in controller, remove for simplicity here or make hidden. --}}
        <div class="form-group" style="display:none;">
            {{-- Hide this if it's set automatically in controller --}}
            @Html.LabelFor(model => model.BookingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        {{-- Add Status input (or handle automatically in controller) --}}
        {{-- Status is often an internal field set by logic, but can be an input too --}}
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}